---
layout: default
class: home
css: ['_layout/index.css']
comments: false
---

{% extends '_layout.html' %}
{% import '_macro/post.html' as post_template %}
{% import '_macro/sidebar.html' as sidebar_template %}
{% block title %} {{ config.title }} {% endblock %}
{% block page_class %}
  {% if is_home() %} page-home {% endif %}
{% endblock %}
{% block content %}
    {% for post in page.posts %}
      {{ post_template.render(post, true) }}
    {% endfor %}
  {% include '_partials/pagination.html' %}
{% endblock %}
{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
