  {% if theme.custom_logo.image and theme.scheme === 'Muse' %}
         class="custom-logo-image" src="{{ theme.custom_logo.image }}"
  {% endif %}
    {% if theme.seo %}
    {% else %}
    {% endif %}
  {% if theme.menu %}
      {% for name, path in theme.menu %}
        {% set itemName = name.toLowerCase() %}
            {% if theme.menu_icons.enable %}
            {% endif %}
            {{ __('menu.' + itemName) }}
      {% endfor %}
      {% if hasSearch %}
          {% if theme.swiftype_key %}
          {% endif %}
            {% if theme.menu_icons.enable %}
            {% endif %}
            {{ __('menu.search') }}
      {% endif %}
  {% endif %}
  {% if hasSearch %}
      {% include 'search.html' %}
  {% endif %}
{% include '../_custom/header.html' %}
