{% set html_class = 'theme-next ' + theme.scheme %}
{% if theme.use_motion %}
  {% set html_class = html_class + ' use-motion' %}
{% endif %}
  {% include '_partials/head.html' %}
  {% include '_scripts/third-party/analytics.html' %}
  {% set container_class = "container one-collumn " %}
  {% if theme.sidebar.position %}
    {% set container_class = container_class + 'sidebar-position-' + theme.sidebar.position %}
  {% endif %}
            {% block content %}{% endblock %}          
          {% include '_partials/duoshuo-hot-articles.html' %}
          {% include '_partials/comments.html' %}
        {% if theme.sidebar.display !== 'remove' %}
          {% block sidebar %}{% endblock %}
        {% endif %}
        {% include '_partials/footer.html' %}
        {% include '_scripts/third-party/analytics/busuanzi-counter.html' %}
        {% block footer %}{% endblock %}
  {% include '_scripts/vendors.html' %}
  {% include '_scripts/commons.html' %}
  {% include scheme_script %}
  {% block script_extra %}{% endblock %}
  {% include '_scripts/boostrap.html' %}
  {% include '_scripts/third-party/comments.html' %}
  {% include '_scripts/third-party/tinysou.html' %}
  {% include '_scripts/third-party/localsearch.html' %}
  {% include '_scripts/third-party/mathjax.html' %}
  {% include '_scripts/third-party/lean-analytics.html' %}
  {% include '_scripts/baidu-push.html' %}
  {% include '_components/algolia-search/assets.html' %}
