{% extends '_layout.html' %}
{% import '_macro/post.html' as post_template %}
{% import '_macro/sidebar.html' as sidebar_template %}
{% block page_class %}page-post-detail{% endblock %}
{% block content %}
    {{ post_template.render(page) }}
      {% if theme.jiathis %}
        {% include '_partials/share/jiathis.html' %}
      {% elseif theme.baidushare %}
        {% include '_partials/share/baidushare.html' %}
      {% elseif theme.add_this_id %}
        {% include '_partials/share/add-this.html' %}
      {% elseif theme.duoshuo_shortname and theme.duoshuo_share %}
        {% include '_partials/share/duoshuo_share.html' %}
      {% endif %}
{% endblock %}
{% block sidebar %}
  {{ sidebar_template.render(true) }}
{% endblock %}
{% block script_extra %}
  {% include '_scripts/pages/post-details.html' %}
{% endblock %}
