{% macro render(post, is_index, post_extra_class) %}
  {% set headlessPost = Array.prototype.indexOf.call(['quote', 'picture'], post.type) 
  {% if post.sticky 
    {% set post_class = post_class + ' ' + 'post-sticky' %}
  {% endif %}
    {% if not headlessPost %}
        {# Not to show title for quote posts that do not have a title #}
        {% if not (is_index and post.type === 'quote' and not post.title) %}
            {# Link posts #}
            {% if post.link %}
              {% if post.sticky 
                {{ post.sticky }}
              {% endif %}
                {{ post.title or post.link }}
            {% else %}
              {% if is_index %}
                {% if post.sticky 
                {% endif %}
              {% else %}
                {{ post.title }}
              {% endif %}
            {% endif %}
        {% endif %}
            {% if theme.post_meta.created_at %}
              {% if theme.post_meta.item_text %}
              {% endif %}
                {{ date(post.date, config.date_format) }}
            {% endif %}
            {% if theme.post_meta.created_at and theme.post_meta.updated_at %}
            {% endif %}
            {% if theme.post_meta.updated_at %}
              {% if theme.post_meta.item_text %}
              {% endif %}
                {{ date(post.updated, config.date_format) }}
            {% endif %}
          {% if post.categories and post.categories.length and theme.post_meta.categories %}
            {% if theme.post_meta.created_at or theme.post_meta.updated_at %}
            {% endif %}
              {% if theme.post_meta.item_text %}
              {% endif %}
              {% for cat in post.categories %}
                {% set cat_length = post.categories.length %}
                {% if cat_length  and loop.index !== cat_length %}
                  {{ __('symbol.comma') }}
                {% endif %}
              {% endfor %}
          {% endif %}
          {% if post.comments %}
            {% if (theme.duoshuo and theme.duoshuo.shortname) or theme.duoshuo_shortname %}
            {% elseif theme.facebook_comments_plugin.enable %}
                   class="post-comments-count fb-comments-count" data-href="{{ post.permalink }}" itemprop="commentCount"
            {% elseif theme.disqus_shortname %}
            {% elseif theme.hypercomments_id %}
            {% elseif is_post() and theme.gentie_productKey %}
            {% endif %}
          {% endif %}
          {% if not is_index and theme.facebook_sdk.enable and theme.facebook_sdk.like_button %}
          {% endif %}
          {# LeanCould PageView #}
          {% if theme.leancloud_visitors.enable %}
               {% if theme.post_meta.item_text %}
               {% endif %}
          {% endif %}
          {% if not is_index and theme.busuanzi_count.enable and theme.busuanzi_count.page_pv %}
             class="page-pv" theme.busuanzi_count.page_pv_header }}
          {% endif %}
          {% if post.description and (not theme.excerpt_description or not is_index) %}
                  {{ post.description }}
          {% endif %}
    {% endif %}
      {# Gallery support #}
      {% if post.photos and post.photos.length %}
          {% set COLUMN_NUMBER = 3 %}
          {% for photo in post.photos %}
            {% if loop.index0 % COLUMN_NUMBER === 0 %} class="post-gallery-row" endif %}
               class="post-gallery-img fancybox"
                 href="{{ url_for(photo) }}" rel="gallery_{{ post._id }}"
            {% if loop.index0 % COLUMN_NUMBER === 2 %} endif %}
          {% endfor %}
          {# Append end tag for `post-gallery-row` when (photos size mod COLUMN_NUMBER) is less than COLUMN_NUMBER #}
          {% if post.photos.length % COLUMN_NUMBER  %} endif %}
      {% endif %}
      {% if is_index %}
        {% if post.description and theme.excerpt_description %}
          {{ post.description }}
        {% elif post.excerpt  %}
          {{ post.excerpt }}
        {% elif theme.auto_excerpt.enable %}
          {{ content.substring(0, theme.auto_excerpt.length) }}
          {% if content.length  %}...{% endif %}
        {% else %}
          {% if post.type === 'picture' %}
          {% else %}
            {{ post.content }}
          {% endif %}
        {% endif %}
      {% else %}
        {{ post.content }}
      {% endif  %}
      {% if not is_index %}
        {% include 'wechat-subscriber.html' %}
      {% endif %}
      {% if not is_index %}
        {% include 'reward.html' %}
      {% endif %}
      {% if post.tags and post.tags.length and not is_index %}
          {% for tag in post.tags %}
          {% endfor %}
      {% endif %}
      {% if not is_index and (post.prev or post.next) %}
            {% if post.next %}
            {% endif %}
            {% if post.prev %}
            {% endif %}
      {% endif %}
      {% set isLast = loop.index % page.per_page === 0 %}
      {% if is_index and not isLast %}
      {% endif %}
{% endmacro %}
