{% macro render(is_post) %}
      {% set display_toc = is_post and theme.toc.enable %}
      {% if display_toc and toc(page.content).length 
            {{ __('sidebar.toc') }}
            {{ __('sidebar.overview') }}
      {% endif %}
           class="site-author-image" itemprop="image"
               src="{{ url_for( theme.avatar | default(theme.images + '/avatar.gif') ) }}"
        
          {% if config.archive_dir != '/' %}
          {% endif %}
          {% if site.categories.length 
              {% if theme.menu.categories %} href="{{ url_for(theme.menu.categories) }}" endif %}
              {% if theme.menu.categories %} endif %}
          {% endif %}
          {% if site.tags.length 
              {% if theme.menu.tags %} href="{{ url_for(theme.menu.tags) }}" endif %}
              {% if theme.menu.tags %} endif %}
          {% endif %}
        {% if theme.rss %}
              RSS
        {% endif %}
          {% if theme.social %}
            {% for name, link in theme.social %}
                  {% if theme.social_icons.enable %}
                  {% endif %}
                  {{ name }}
            {% endfor %}
          {% endif %}
        {% set cc = {'by': 1, 'by-nc': 1, 'by-nc-nd': 1, 'by-nc-sa': 1, 'by-nd': 1, 'by-sa': 1, 'zero': 1} %}
        {% if theme.creative_commons in cc %}
        {% endif %}
        {# Blogroll #}
        {% if theme.links %}
              {{ theme.links_title }}
              {% for name, link in theme.links %}
              {% endfor %}
        {% endif %}
        {% include '../_custom/sidebar.html' %}
      {% if display_toc and toc(page.content).length 
            {% if page.toc_number === undefined %}
              {% set toc = toc(page.content, { "class": "nav", list_number: theme.toc.number }) %}
            {% else %}
              {% set toc = toc(page.content, { "class": "nav", list_number: page.toc_number }) %}
            {% endif %}
            {% if toc.length 
            {% else %}
            {% endif %}
      {% endif %}
{% endmacro %}
