{% if page.comments %}
    {% if (theme.duoshuo and theme.duoshuo.shortname) or theme.duoshuo_shortname %}
       class="ds-thread" data-thread-key="{{ page.path }}"
    {% elseif theme.facebook_sdk.enable and theme.facebook_comments_plugin.enable %}
       class="fb-comments"
           data-href="{{ page.permalink }}"
           data-numposts="{{ theme.facebook_comments_plugin.num_of_posts }}"
           data-width="{{ theme.facebook_comments_plugin.width }}"
    {% elseif theme.disqus_shortname %}
          Please enable JavaScript to view the
    {% elseif theme.hypercomments_id %}
    {% elseif theme.gentie_productKey %}
    {% elseif theme.youyan_uid %}
    {% endif %}
{% endif %}
